/* 控制 loading 不倒購物車清單翁感覺的動畫 */
.loadingIcon {
  animation: wobble 1s ease-in-out infinite;
}

@keyframes wobble {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
body {
  font-family: 'Noto Serif TC', serif, 'Dancing Script', cursive !important;
  letter-spacing: 2px;
  overflow-x: hidden;
  width: 100%;
}
img {
  object-fit: cover;
  object-position: center;
}
