/* 控制 loading 不倒翁感覺的動畫 */
.loadingIcon {
  /* animation: breathe 3s ease-in-out infinite; */
  animation: wobble 1s ease-in-out infinite;
}

@keyframes wobble {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
body {
  font-family: 'Noto Serif TC', serif, 'Dancing Script', cursive !important;
  /* , 'Dancing Script', cursive */
}
img {
  object-fit: cover;
  object-position: center;
}
/* 後台商品列表圖片 */
.productImages {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
h1 {
  background-image: url(../images/Logo.png);
  background-size: cover;
  background-position: center;
  height: 62.12px;
  width: 297px;
}

header {
  width: 100%;
  height: 768px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
/* header 按鈕區塊 */
.header_block {
  height: 700px;
}
/* 3. 關於我們 設定 */
.aboutAs_card {
  position: relative;
  height: 342px;
  width: 612px;
  background: rgba(116, 125, 84, 0.8);
}
.aboutAs_card img {
  position: absolute;
  top: 24px;
  right: 24px;
}
/* 4. 主打推薦 設定 */
.menu_recommend {
  height: 954px;
}
.menu_recommend_img {
  position: relative;
}
.menu_recommend_card {
  position: absolute;
  top: 580px;
  left: 260px;
  width: 368px;
  height: 150px;
  background-color: #ffffff;
  color: #747d54;
}
/* 訂閲 設定 */
.subscribe_card {
  height: 378px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
}
.subscribe_block {
  height: 188px;
  border: 2px solid #747d54;
  background-color: rgba(255, 255, 255, 0.87);
  color: #747d54;
}
/* 7. footer 設定 */
footer {
  height: 357px;
  color: rgba(255, 255, 255, 0.87);
  background: #4e4d3c;
  font-size: 24px;
  font-weight: 700;
}

footer a {
  color: rgba(255, 255, 255, 0.87);
}

.footer_top {
  height: 86px;
}
.footer_bottom {
  height: 86px;
}
